exportPattern("^[[:alpha:]]+")
importFrom(lattice, xyplot, densityplot)
importFrom(plyr, alply)
importFrom(reshape, melt)
importFrom(ggplot2, ggplot)
importFrom(dismo, Mercator)
importFrom(xtable, xtable)
importFrom(RgoogleMaps, GetMap.bbox, PlotOnStaticMap)
importFrom(calibrate,textxy)
importFrom(pegas, as.loci, Fst)
importFrom(genetics, HWE.test, HWE.chisq, HWE.exact)
importFrom(ade4, dudi.pca, s.class, add.scatter)
importFrom(rgdal, project)
importFrom(vegan, mantel.partial, permustats)
importFrom(gdistance, transition, geoCorrection, shortestPath, costDistance, commuteDistance, rSPDistance)
importFrom(sp, SpatialLinesLengths, Line, Lines, SpatialLines, SpatialPolygons, Polygons, Polygon)
importFrom(data.table, rbindlist)
import(mmod)
import(R.utils)
import(gap)
import(knitr)
import(adegenet)
importFrom(raster, raster, extent, rasterize)
importFrom(GGally, ggpairs)

